<ion-app>
  <!-- Menú lateral -->
  <ion-menu side="start" content-id="main-content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false" *ngFor="let item of menuService.sideMenuItems">
          <ion-item 
            [routerLink]="item.route" 
            lines="none" 
            detail="false" 
            button>
            <ion-icon [name]="item.icon" slot="start"></ion-icon>
            <ion-label>{{ item.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <!-- Contenido principal -->
  <ion-router-outlet id="main-content"></ion-router-outlet>

  <!-- Menú inferior -->
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button 
        *ngFor="let item of menuService.bottomMenuItems" 
        [routerLink]="item.route">
        <ion-icon [name]="item.icon"></ion-icon>
        <ion-label>{{ item.title }}</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-app>